/* You can add global styles to this file, and also import other style files */
body{
    margin: 0 !important;
    padding: 0;
}
.ui-inputswitch {
    width: 80px !important;
  }

  .p-inputswitch{
    width: 2.7rem !important;
    height: 15px !important;
  }
  .p-inputswitch .p-inputswitch-slider:before{
    width: 14px;
    height: 14px;
    left: 0.25rem;
    margin-top: -0.45rem;
  }